<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Formulario Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de MercadoLiebre"
          />
        </div>
        <div class="form" action="#" method="GET">
          <div class="input">Buscar productos, marcas y más</div>
          <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>

      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>
    <section class="banner">
      <img src="images/img-home-banner.jpg" alt="Banner de ofertas" />
    </section>

    <!-- FORMULARIO -->
    <form action="resultado.html" method="POST">
      <h3>Registro de Usuario</h3>
      <label for="nombreCompleto"
        >Nombre y Apellido: <input type="text" name="nombreCompleto" required
      /></label>

      <label for="usuario"
        >Nombre de usuario <input type="text" name="usuario" required
      /></label>

      <h3>Fecha de nacimiento</h3>

      <label for="nacimiento"
        >Fecha de nacimiento <input type="date" name="nacimiento" required
      /></label>

      <label for="domicilio"
        >Domicilio <input type="text" name="domicilio" required
      /></label>

      <h3>Perfil del usuario</h3>

      <ul>
        <label for="comprador"
          >Comprador <input type="checkbox" name="comprador" required
        /></label>
        <label for="vendedor"
          >Vendedor <input type="checkbox" name="vendedor" required
        /></label>
      </ul>

      <h3>Intereses</h3>

      <ul>
        <label for="electro"
          >Electro <input type="checkbox" name="electro" required
        /></label>
        <label for="moda"
          >Moda <input type="checkbox" name="moda" required
        /></label>
        <label for="hogar"
          >Hogar <input type="checkbox" name="hogar" required
        /></label>
        <label for="jugueteria"
          >Jugueteria <input type="checkbox" name="jugueteria" required
        /></label>
        <label for="vida"
          >Vida Sana <input type="checkbox" name="vida" required
        /></label>
      </ul>

      <label for="foto"
        >Foto de usuario <input type="file" name="foto" required
      /></label>

      <label for="password"
        >Contraseña: <input type="password" name="password" required
      /></label>

      <label for="confirmar"
        >Confirmar Contraseña: <input type="password" name="confirmar" required
      /></label>

      <input type="reset" value="Borrar" id="borrar" />
    </form>
    <div id="volver">
      <a href="/"><button>Página principal</button></a>
    </div>
       <!-- FOOTER -->
       <footer>
        <div>
          <img
            decoding="async"
            src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/ecosystem/payment.svg"
            alt="Elegí cómo pagar"
          />
          <h2>Elegí cómo pagar</h2>
          <p>
            Podés pagar con tarjeta, débito, efectivo o hasta 12 cuotas sin
            tarjeta con Mercado Crédito.
          </p>
        </div>
  
        <div>
          <img
            decoding="async"
            src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/ecosystem/shipping.svg"
            alt="Envío gratis desde $ 5.500"
          />
          <h2>Envío gratis desde $ 5.500</h2>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div>
          <img
            decoding="async"
            src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/ecosystem/protected.svg"
            alt="Seguridad, de principio a fin"
          />
          <h2>Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegido.
          </p>
        </div>
      </footer>
  </body>
</html>
